lxml
oauth2client
openpyxl
pillow
PyPDF2
pyyaml
requests3
robotframework
robotframework-databaselibrary
robotframework-httplibrary
robotframework-requests
robotframework-seleniumlibrary
selenium
unicodecsv
